version: '3'
services:
  # 服务1: 用户机器人 (负责从源频道偷消息 -> 发给机器人)
  userbot:
    build: .
    container_name: toujibot_user
    restart: unless-stopped
    volumes:
      - ./:/app
    command: python telegram_bot.py
    environment:
      - TZ=Asia/Shanghai
    env_file:
      - .env
    stdin_open: true
    tty: true

  # 服务2: 机器人转发 (负责从私聊接收 -> 广播到最终频道)
  relaybot:
    build: .
    container_name: toujibot_relay
    restart: unless-stopped
    volumes:
      - ./:/app
    command: python bot_relay.py
    environment:
      - TZ=Asia/Shanghai
    env_file:
      - .env
